.product-img {
    width: 100%;
}

.product-card {
    border: 1px solid var(--color-grey-text);
    border-radius: 20px;
    margin-bottom: 1.5rem;
    padding: 10%;
    background-color: #e4e8e8;
}

.btn {
    padding: 6%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
}
img, svg {
    vertical-align: middle;
    width: 100%;
}