/* Variables */
:root {
    /* colors */
    --color-grey-text: #777;
    --color-light-grey: #ececec;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A4A7A7
}
.product-img {
    width: 100%;
}

.product-card {
    font-size: 17px;
    font-family: monospace;
    background-color: #F9F9F9;
    padding: 2%;
}
.flex {
 display: flex;
}
.primary-heading {
    font-family: monospace;
}

 .navbar{font-family: monospace;}

 .nav-link {
     display: inline-block;
 }

 .page-footer {background-color: rgb(245, 245, 245);
    font-family: monospace;  
            }

.mt-4{
    padding:0
}

.card-text{
      font-family: monospace;
}

.btn {
    padding: 1%!important
}