/* Variables */
:root {
    /* colors */
    --color-grey-text: #777;
    --color-light-grey: #ececec;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A4A7A7
}

product-card {
    font-size: 20px;
    font-family: monospace;
}

.primary-heading {
    font-family: monospace;
}

 .navbar{font-family: monospace;}

 .nav-link {
     display: inline-block;
 }

 .page-footer {background-color: rgb(126, 124, 124);
    font-family: monospace;  
            }