.item-count-container {
    background-color: #a0a0a0;
    padding: 10px;
    width: 11rem;
    text-align: center;
    border-radius:10px
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

span {
    user-select: none;
}